body {
    background-color: rgb(185, 184, 184);
}

#field {
    /* border: white;
    border-width: 5px;
    border-style: solid;
    text-align: center;
    margin-top: 200px;
    margin-left: 190px;
    margin-right: 325px; */
    text-align: center;
    width: 500px;
    height: 195px;
    border: 8px solid white;
    padding: 100px;
    margin-top: 20px;
    margin-left: 190px;
    margin-right: 325px;
    background-color: rgb(170, 165, 165);
    position: relative;
    /* padding-top: 100px;
    padding-right: 55px;
    padding-bottom: 100px;
    padding-left: 80px;
    box-sizing: border-box;
    position: relative; */
}

#main {
    padding-top: 20px;
}

#leaderboard {
    text-align: right;
    border: white;
    border-style: solid;
    background-color: rgb(170, 165, 165);
    float: right;
    box-sizing: border-box;
    margin-top: -390px;
    padding-right: 25px;
    position: relative;

}

.hide {
    visibility: hidden;
}

#logo {
    margin: auto;
    width: 36%;
}

h1 {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.cup {
    position: relative;
    top: -50px;
    animation: shake 0.5s;
    animation-iteration-count: 1;
}
.dice {
    position: absolute;
    top: 105px;
    left: 335px;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.fade-out {
    animation: fadeOut ease 2.7s;
}

@keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

#modes {
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    color: rgb(238, 238, 238);
    text-shadow: 0 0 9px rgb(219, 217, 217);
}